body {
    padding: 10% 28%;
    color: antiquewhite;
}
.card {
    background-image: url('../img/conciertos.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    padding: 10%;
    position: relative;
}

